@import "~leaflet/dist/leaflet.css";
@import "~bootstrap/dist/css/bootstrap.css";

.map-container {
  margin: 30px;
}

.map-frame {
  border: 2px solid black;
  height: 600px;
}

#map{
  height:600px;
}
