<div class="map-container">
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>
<div>
  <table>
    <thead>
      <tr>
        <th>nombre de cas actif</th>
        <th>couleur</th>
      </tr>
    </thead>
    <tr>
      <td> Moins de 10000</td>
      <td style="background-color: #6DB65B"></td>
    </tr>
    <tr>
      <td> Entre 10000 et 50000</td>
      <td style="background-color: #EBBD34"></td>
    </tr>
    <tr>
      <td> Plus de 50000</td>
      <td style="background-color: #D13028"></td>
    </tr>
  </table>
</div>
