<div class="map-container">
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>
<div>
  <table class="table">
    <thead>
      <tr>
        <th>Taux de cas actif</th>
        <th>couleur</th>
      </tr>
    </thead>
    <tr>
      <td> Moins de 0.2%</td>
      <td style="background-color: #6DB65B"></td>
    </tr>
    <tr>
      <td> Entre 0.2% et 0.4%</td>
      <td style="background-color: #206b0b"></td>
    </tr>
    <tr>
      <td> Entre 0.4% et 0.6%</td>
      <td style="background-color: #EBBD34"></td>
    </tr>
    <tr>
      <td> Entre 0.6% et 0.8%</td>
      <td style="background-color: #b77c36"></td>
    </tr>
    <tr>
      <td> Entre 0.8% et 1%</td>
      <td style="background-color: #eb6e34"></td>
    </tr>
    <tr>
      <td> Entre 1% et 2%</td>
      <td style="background-color: #D13028"></td>
    </tr>
    <tr>
      <td> Plus de 2%</td>
      <td style="background-color: #700404"></td>
    </tr>
  </table>
</div>
